@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Serif:wght@400;500&display=swap");

/* variables */
:root {
  font-size: 20px;
  --blue-pantone: #21209c;
  --selective-yellow: #fdb827;
  --cultured: #f1f1f1;
  --black-chocolate: #23120b;
  --mud-gray: #545454;
  --bs-primary: var(--selective-yellow);
  --bs-secondary: var(--blue-pantone);
  --bs-light: var(--cultured);
  --bs-dark: var(--black-chocolate);
  --bs-gray: var(--mud-gray);
  --bs-white: #f8f9fa;
  --bs-font-serif: system-ui, -apple-system, "IBM Plex Serif", Serif;
  --bs-font-monospace: "IBM Plex  Mono", monospace;
  --bs-gradient: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  --bs-body-font-family: var(--bs-font-monospace);
  --bs-body-font-size: var(--font-size-base);
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.75;
  --bs-body-color: var(--bs-dark);
  --bs-body-bg: var(--bs-light);
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}

/* base typography */

h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
caption,
figure,
mark,
u,
small,
strong,
em,
abbr,
cite,
figcaption,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6,
.lead,
.mark,
.small,
.blockquote,
.blockquote-footer {
  font-family: var(--bs-font-serif);
  font-weight: 500;
  line-height: 1.3;
}

pre,
code,
kbd,
samp,
var {
  font-family: var(--bs-font-monospace);
  font-weight: 400;
}

.text-primary {
  color: var(--bs-primary) !important;
}
.text-secondary {
  color: var(--bs-secondary) !important;
}

img {
  max-width: 100%;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Logo */
.logo {
  width: 220px;
  animation-name: logo;
}

@keyframes logo {
  0% {
    width: 220px;
  }
  50% {
    width: 150px;
  }
  100% {
    width: 70px;
  }
}

/* link hover animation */

.nav-link,
.dropdown-item {
  text-decoration: none;
  color: var(--bs-dark);
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.nav-link::before,
.dropdown-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 0;
  background: var(--bs-primary);
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before,
.dropdown-item:hover::before {
  width: calc(100%);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
}

/* icons color */
.bi-megaphone-fill,
.bi-chat-left-quote-fill,
.bi-book-half {
  color: var(--bs-secondary);
  font-size: 2.5rem;
}

/* discussion card effect */
.stretched-link {
  text-decoration: none;
  color: var(--bs-dark);
}

.stretched-link:hover,
.stretched-link:focus {
  text-decoration: none;
  color: var(--bs-primary);
}

/* Post Card images*/

.img-fluid {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/* Wobble Vertical effect */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover,
.hvr-wobble-vertical:focus,
.hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* hover Shadow effect */
.hvr-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:hover,
.hvr-shadow:focus,
.hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
*/

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: var(--bs-gray);
}

/* primary & secondary button */
.btn-primary {
  color: var(--bs-white);
  background-color: #fdb827;
  border-color: #fdb827;
}

.btn-primary:hover {
  color: var(--bs-white);
  background-color: #fdc347;
  border-color: #fdbf3d;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: var(--bs-white);
  background-color: #fdc347;
  border-color: #fdbf3d;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(215, 156, 33, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(215, 156, 33, 0.5);
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: var(--bs-white);
  background-color: #fdc652;
  border-color: #fdbf3d;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(215, 156, 33, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(215, 156, 33, 0.5);
}

.btn-primary:disabled,
.btn-primary.disabled {
  color: var(--bs-white);
  background-color: #fdb827;
  border-color: #fdb827;
}

.btn-secondary {
  color: #fff;
  background-color: #21209c;
  border-color: #21209c;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #1c1b85;
  border-color: #1a1a7d;
}

.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
  color: #fff;
  background-color: #1c1b85;
  border-color: #1a1a7d;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(66, 65, 171, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(66, 65, 171, 0.5);
}

.btn-check:checked + .btn-secondary,
.btn-check:active + .btn-secondary,
.btn-secondary:active,
.btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #1a1a7d;
  border-color: #191875;
}

.btn-check:checked + .btn-secondary:focus,
.btn-check:active + .btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(66, 65, 171, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(66, 65, 171, 0.5);
}

.btn-secondary:disabled,
.btn-secondary.disabled {
  color: #fff;
  background-color: #21209c;
  border-color: #21209c;
}

/* Login page */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-profile {
  width: 100%;
  max-width: 550px;
  padding: 15px;
  margin: auto;
}

.form-create {
  width: 100%;
  max-width: 650px;
  padding: 15px;
  margin: auto;
}
.form-create input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Admin Panel */

.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #f3f4d2;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #f4f2d2;
}
